
<br>
<br>
<br>
<br>
<a class="nav-link" routerLink="/ticket">Back</a> <br>
<br>
<h2 class="ticket-details-title">Ticket Details</h2>
<br>
<table>
    <thead>
      <tr>
      <th>Status</th>
      <th>Problem Type</th>
      <th>Description</th>
      <!-- <th>Customer</th> -->
      <th>Pin Code</th>
      <!-- <th>Manager Assigned</th> -->
      <!-- <th>Engineer Assigned</th> -->
      <!-- <th>Feedback</th> -->
      </tr>
    </thead>
    <tbody>
        <tr>
        <td>{{ ticket.status }}</td>
        <td>{{ ticket.problemType }}</td>
        <td>{{ ticket.description }}</td>
        <!-- <td>{{ ticket.customer.name }}</td> -->
        <td>{{ ticket.pinCode.zip }}</td>
        <!-- <td>{{ ticket.manager.name}}</td> -->
        <!-- <td>{{ ticket.engineer.name}}</td> -->
        <!-- <td>{{ ticket.feeback}}</td> -->
      </tr>
    </tbody>
  </table>