<br>
<br>
<br>
<br>

<a class="nav-link" routerLink="/ticket">Back</a> <br>
<br>
<h2 class="create-ticket-title">Create Ticket</h2>
<form
    name="form"
    (ngSubmit)="onSubmit()"
    #f="ngForm"
    novalidate
    >

    <!-- logged customer info -->

    <label for="problemType"> Problem Type: </label>
    <input [(ngModel)]="form.problemType" name="problemType" type="string" />
    <br />

    <label for="pinCode"> Pincode: </label>
    <select (change)="pinCodeSelection($event)">
        <option value="0">Select Pincode</option>
        <option *ngFor="let pinCode of pinCodes" value="{{ pinCode.id }}">{{ pinCode.areaName }}</option>
    </select>
    <br />

    <label for="description"> Description: </label>
    <textarea [(ngModel)]="form.description" name="description" cols="30" rows="10"></textarea>
    <br />

    <div class="form-group">
        <button class="btn btn-primary btn-block">Create Ticket</button>
    </div>
</form>